/*Desktop - Responsividade*/

@font-face {
    font-family: 'nos';
    src: url('/font/Mayonice.otf');
}


:root {
    --chili-red: #e01e05ff;
    --blood-red: #710609ff;
    --old-gold: #cbb02aff;
    --french-gray: #bbbac4ff;
    --lavender-web: #d8dae4ff;
    --caput-mortuum: #5e1d15ff;
    --black: #000001ff;
    --brown-sugar: #b87d5dff;
}

body {
    background: radial-gradient(var(--french-gray), var(--chili-red));
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

img {
    width: 200px;
    border-radius: 50%;
    border: 5px solid var(--blood-red);

}

.central {
    width: 40%;
    background-color: var(--lavender-web);
    border-radius: 20px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 3px 3px 15px var(--black);
}

hr {
    width: 100%;
    height: 5px;
    background-color: var(--blood-red);
    border: none;
    outline: none;
    border-radius: 10px;
}

h1 {
    font-family: 'nos';
    color: var(--black);
    /*text-transform: uppercase*/
}

h2 {

    font-size: 40px;
    font-weight: 100;
    margin-top: 0;
}

h3 {
    font-size: 40px;
    font-weight: 100;
    margin-top: 0;
}

p{
    
    font-weight: 10;
    margin-top: 0;
}

h4{
    font-size: 40px;
    font-weight: 100;
    margin: 0%;
}
    img2{
        width: 50   px;
        border-radius: 50%;
    }

/*tablet - responsividade*/

@media(max-width:1024px) and (min-width:720px){
    body{
        background: var(--brown-sugar);
    }
}